@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.nav{
  margin: 40px 20px;
}

.title{
  font-size: 30px;
  
}
ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li{
  height: 50px;
}

a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Inter", serif !important;
  font-weight: bold;
}



li:first-child{
  margin-right: auto;
  margin-bottom: 30px !important;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background: rgba(69, 48, 129, 0.8);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hideOnMobile{
  font-size: 20px;
  margin-right: 50px;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

#compoment-header__menu-login {
  border: 3px solid #8b6fb1;

  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

@media(max-width: 900px){
  .hideOnMobile{
    display: none;
  }
}
@media(max-width: 900px){
  .title{
    font-size: 20px !important;
  }
}

@media(min-width: 800px){
  .menu{
    display: none;
  }
}